<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>

<form th:method="PATCH"
      th:action="@{/people/{id}(id=${person.getId()})}"
      th:object="${person}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:blue" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Текст name из Person</div>
    <br/>

    <label for="age">Enter age: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <div style="color:blue" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Текст age из Person</div>
    <br/>

    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <div style="color:blue" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Текст email из Person</div>
    <br/>

    <input type="submit" value="Update"/>
</form>

</body>
</html>